
@{
    ViewData["Title"] = "Dirty Dancing";
}

<div class="page-header header-filter" data-parallax="true" style="background-image: url('@Url.Content("/img/dirty-dancing.jpg")');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h1 class="title">Dirty Dancing</h1>
                <h4>Tendras el momento de tu vida</h4>
                <br>
            </div>
        </div>
    </div>
</div>
<div class="main main-raised">
    <div class="container">
        <div class="section section-text">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h3 class="title">Horarios</h3>
                    <p>
                        2:30/4:30/6:30PM
                        <br>

                    </p>
                    <br>
                    <h3 class="title">Protagonistas</h3>
                    <p>
                        <ul>
                            <li>Patrick Swayze</li>
                            <li>Jennifer Grey</li>
                        </ul>
                    </p>
                    <br />
                    <br />
                    <h3 class="title">Sinopsis</h3>
                    <p>
                        Johnny Castle (Patrick Swayze) es un experto profesor de baile y un amante consumado. Baby Houseman (Jennifer Grey) es una idealista e inocente adolescente. Ambos coinciden en un hotel de las montañas de Catskill (160 km al noreste de Nueva York) durante las vacaciones de verano: ella como huésped, él cómo profesor y bailarín del centro. Cuando la joven ve al bailarín, queda prendada de él a pesar de las diferencias sociales entre ambos y se forma entre los dos una atmósfera cómplice a través del baile. Cuando una situación comprometida le aleja de su padre, Baby y Johnny inician un camino juntos en el que ella descubre el sexo y él el amor y la confianza.
                        <br />
                        La película, que se centra en los principios de la década de los 60, resalta las diferencias entre la clase trabajadora y la media-alta norteamericana, el comienzo de la ruptura de las «normas sociales» y el despertar de la libertad sexual auspiciada por una música más cálida e inspiradora. La lucha de ella por lo que es justo -que le causa varias dificultades- encarna la inocencia americana del momento, inocencia que termina cuando descubre que no siempre quien se precia de ser justo lo es.
                        <br />

                    </p>

                </div>
                <div class="section col-md-10 ml-auto mr-auto">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-raised rounded img-fluid" alt="Escena de Baile" src="@Url.Content("/img/dirty-dancing-1.jpg")">
                        </div>
                        <div class="col-md-4">
                            <img class="img-raised rounded img-fluid" alt="Escena juntos" src="@Url.Content("/img/dirty-dancing-2.jpg")">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <a href="@Url.Action("Index")" class="btn btn-primary pull-right btn-round">Volver al listado</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>