
@{
    ViewData["Title"] = "Flashdance";
}

<div class="page-header header-filter" data-parallax="true" style="background-image: url('@Url.Content("/img/flashdance.jpg")');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h1 class="title">Flashdance</h1>
                <h4>El musical</h4>
                <br>
            </div>
        </div>
    </div>
</div>
<div class="main main-raised">
    <div class="container">
        <div class="section section-text">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h3 class="title">Horarios</h3>
                    <p>
                        2:30/4:30/6:30PM
                        <br>

                    </p>
                    <br>
                    <h3 class="title">Protagonistas</h3>
                    <p>
                        <ul>
                            <li>Jennifer Beals</li>
                            <li>Michael Nouri</li>
                        </ul>
                    </p>
                    <br />
                    <br />
                    <h3 class="title">Sinopsis</h3>
                    <p>
                        Alexandra Alex Owens (Jennifer Beals) es una chica que sueña con llegar a ser bailarina profesional. Para ganarse la vida y hacer realidad sus sueños trabaja en la industria del acero, y por la noche baila en un cabaret, donde la mayoría de los parroquianos también trabajan en la industria del acero. Su jefe es Nick Hurley (Michael Nouri), quien no conoce a Alex personalmente. Una noche la ve danzar en el cabaret y se enamora de ella.
                        <br/>

                    </p>

                </div>
                <div class="section col-md-10 ml-auto mr-auto">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-raised rounded img-fluid" alt="Escena juntos" src="@Url.Content("/img/flashdance-1.jpg")">
                        </div>
                        <div class="col-md-4">
                            <img class="img-raised rounded img-fluid" alt="Escena de baile" src="@Url.Content("/img/flashdance-2.jpg")">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <a href="@Url.Action("Index")" class="btn btn-primary pull-right btn-round">Volver al listado</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>